.user-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 500px;
  height: 300px;
}

.form-title {
  align-self: flex-start;
  margin: 5px;
  font-weight: bold;
}

.user-form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-form-button {
  margin-top: 10px;
}

.error-container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  margin: auto;
  color: red;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
